:root {
  --bg-primary: #0b0e12;
  --bg-secondary: #13171d;
  --text-primary: #b7c0c9;
  --text-secondary: #7a828d;
  --accent: #4e94e5;
  --link-color: #58a6ff;
}

.emoji {
  width: 24px;
  height: 24px;
}

a {
  color: var(--link-color);
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px; 
}
::-webkit-scrollbar-track {
  background: #2e2e2e;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1e76da;
}
